In [1]:
library(tidyverse)
library(lubridate)
library(MASS)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──
✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘lubridate’

The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Attaching package: ‘MASS’

The following object is masked from ‘package:dplyr’:

    select

In [2]:
snapper=read.csv("data/Fish_Data_Snapper.csv")
head(snapper)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
3 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
6 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
  Measurement    MeasureValue MeasurementUnit
1 Fork length     22.500      cm
2 Total length    23.900      cm
3 Weight carcass 201.100      g
4 Weight liver     1.489      g
5 Fork length     21.600      cm
6 Total length    22.800      cm

In [3]:
subset_by_col_value = function(df_name, col_name, col_val){
    df_name %>%
    filter({{col_name}} == col_val)
}

In [4]:
Fork_length_cm = subset_by_col_value(snapper, Measurement, 'Fork length')
head(Fork_length_cm)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  Measurement MeasureValue MeasurementUnit
1 Fork length 22.5         cm
2 Fork length 21.6         cm
3 Fork length 24.7         cm
4 Fork length 22.0         cm
5 Fork length 20.7         cm
6 Fork length 22.0         cm

In [9]:
Total_length_cm = subset_by_col_value(snapper, Measurement, 'Total length')
Carcass_weight_g = subset_by_col_value(snapper, Measurement, 'Weight carcass')
Liver_weight_g = subset_by_col_value(snapper, Measurement, 'Weight liver')

In [70]:
keep_col = function (df_name, col_name){
    df_name %>%
    dplyr::select({{col_name}})
}

In [28]:
remove_col = function (df_name, col_name){
    df_name %>%
    dplyr::select(-{{col_name}})
}

In [68]:
Fork_length_cm2 = remove_col(Fork_length_cm, col_name = c("Measurement", "MeasurementUnit"))
Total_length_cm2 = remove_col(Total_length_cm, col_name = c("Measurement", "MeasurementUnit"))
Carcass_weight_g2 = remove_col(Carcass_weight_g, col_name = c("Measurement", "MeasurementUnit"))
Liver_weight_g2 = remove_col(Liver_weight_g, col_name = c("Measurement", "MeasurementUnit"))

In [69]:
head(Fork_length_cm2)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  MeasureValue
1 22.5
2 21.6
3 24.7
4 22.0
5 20.7
6 22.0

In [53]:
rename_col = function(df_name, old_col_name, new_col_name){
    df_name %>%
    rename({{new_col_name}} = {{old_col_name}})
}

ERROR: Error in parse(text = x, srcfile = src): <text>:3:29:  予想外の '=' です
2:     df_name %>%
3:     rename({{new_col_name}} =
                               ^

In [54]:
Fork_length_cm3 = Fork_length_cm2 %>% rename(Fork_length_cm = MeasureValue)
head(Fork_length_cm3)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  Fork_length_cm
1 22.5
2 21.6
3 24.7
4 22.0
5 20.7
6 22.0

In [55]:
Fork_length_cm4 = rename_col(Fork_length_cm2, MeasureValue, Fork_length_cm)
head(Fork_length_cm4)

ERROR: Error:  オブジェクト 'MeasureValue' がありません