In [1]:
library(tidyverse)
library(lubridate)
library(MASS)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──
✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.4     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘lubridate’

The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Attaching package: ‘MASS’

The following object is masked from ‘package:dplyr’:

    select

In [2]:
snapper=read.csv("data/Fish_Data_Snapper.csv")
head(snapper)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
3 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
6 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
  Measurement    MeasureValue MeasurementUnit
1 Fork length     22.500      cm
2 Total length    23.900      cm
3 Weight carcass 201.100      g
4 Weight liver     1.489      g
5 Fork length     21.600      cm
6 Total length    22.800      cm

In [3]:
subset_by_col_value = function(df_name, col_name, col_val){
    df_name %>%
    filter({{col_name}} == col_val)
}
remove_col = function (df_name, col_name){
    df_name %>%
    dplyr::select(-{{col_name}})
}
waypoint_dbl = function (df_name, col_name){
    df_name %>%
    mutate(
    Waypoint_dbl = as.double({{col_name}}))
}
age_dbl = function (df_name, col_name){
    df_name %>%
    mutate(
    Age_dbl = as.double({{col_name}}))
}
sex_dbl = function (df_name, col_name){
    df_name %>%
    mutate(
    Sex_dbl = as.double({{col_name}}))
}
dateR = function (df_name, col_name, date_format){
    df_name %>%
    mutate(
        DateR = as.POSIXct({{col_name}}, format= date_format))
}

In [4]:
Total_length_cm = subset_by_col_value(snapper, Measurement, 'Total length')
Total_length_cm2 = remove_col(Total_length_cm, col_name = c("Measurement", "MeasurementUnit"))
Total_length_cm3 = waypoint_dbl(Total_length_cm2, waypoint)
Total_length_cm4 = sex_dbl(Total_length_cm3, Sex)
Total_length_cm5 = age_dbl(Total_length_cm4, Age)
Total_length_cm6 = dateR(Total_length_cm5, DateCollected, "%m/%d/%Y")

In [5]:
head(Total_length_cm6)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  MeasureValue Waypoint_dbl Sex_dbl Age_dbl DateR
1 23.9         2            3       2       0015-03-16
2 22.8         2            2       2       0015-03-16
3 26.0         2            3       2       0015-03-16
4 23.2         2            3       2       0015-03-16
5 21.7         2            3       2       0015-03-16
6 23.4         2            3       2       0015-03-16

# Need Help Below

### rename_col error

In [6]:
test1 = Total_length_cm6 %>% rename(Total_length_cm = MeasureValue)
head(test1)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  Total_length_cm Waypoint_dbl Sex_dbl Age_dbl DateR
1 23.9            2            3       2       0015-03-16
2 22.8            2            2       2       0015-03-16
3 26.0            2            3       2       0015-03-16
4 23.2            2            3       2       0015-03-16
5 21.7            2            3       2       0015-03-16
6 23.4            2            3       2       0015-03-16

In [7]:
rename_col = function(df_name, old_col_name, new_col_name){
    df_name %>%
    rename({{new_col_name}} = {{old_col_name}})
}

ERROR: Error in parse(text = x, srcfile = src): <text>:3:29:  予想外の '=' です
2:     df_name %>%
3:     rename({{new_col_name}} =
                               ^

In [ ]:
test2 = rename_col(Total_length_cm6, MeasureValue, Total_length_cm)

Error in the original function. Unexpected = sign. Cannot assign column name in function? Becuase it works outside the function with %>%

### get_stats error

In [8]:
tapply(Total_length_cm6$MeasureValue, Total_length_cm6$Sex, mean)

           Female     Male  Unknown
      NA 22.31012 23.80945 19.82857

In [12]:
Total_length_cm6 %>% tapply(MeasureValue, Sex, mean)

ERROR: Error in tapply(., MeasureValue, Sex, mean):  オブジェクト 'Sex' がありません

In [13]:
get_stats = function (df_name, parameter1, parameter2, statistic) {
    tapply(df_name${{parameter1}}, df_name${{parameter2}}, statistic)
}

ERROR: Error in parse(text = x, srcfile = src): <text>:2:20:  予想外の '{' です
1: get_stats = function (df_name, parameter1, parameter2, statistic) {
2:     tapply(df_name${
                      ^

In [14]:
get_stats2 = function (df_name, parameter1, parameter2, statistic) {
    tapply(df_name$parameter1, df_name$parameter2, statistic)
}

In [15]:
get_stats2(Total_length_cm6, MeasureValue, Sex, mean)

ERROR: Error in split.default(X, group):  最初の引数はベクトルでなくてはなりません

Seems that it needs to be in the form of df_name$col_name to work, cannot use pipes. Trying to put the col_name in {{}} says the { is an unexpected sybmol. However if we remove the {{}} around the col_name, it says the first argument is not a vector

### linear model/multiple linear model error

In [21]:
lm(MeasureValue~Sex_dbl, data=Total_length_cm6) %>% summary()

Call:
lm(formula = MeasureValue ~ Sex_dbl, data = Total_length_cm6)

Residuals:
    Min      1Q  Median      3Q     Max
-7.0261 -1.6962 -0.0261  1.5739  8.9739

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  19.7364     0.3914  50.428   <2e-16 ***
Sex_dbl       1.3299     0.1437   9.253   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.484 on 1308 degrees of freedom
Multiple R-squared:  0.06144,	Adjusted R-squared:  0.06072
F-statistic: 85.62 on 1 and 1308 DF,  p-value: < 2.2e-16

In [27]:
Total_length_cm6 %>% lm(MeasureValue~Sex_dbl) %>% summary()

ERROR: Error in as.data.frame.default(data): cannot coerce class ‘"formula"’ to a data.frame

In [22]:
linear_model_summary = function (response_variable, explanatory_variable, df_name) {
    lm({{response_variable}}~{{explanatory_variable}}, data=df_name) %>% summary()
}

In [28]:
linear_model_summary2 = function (response_variable, explanatory_variable, df_name) {
    lm(response_variable~explanatory_variable, data=df_name) %>% summary()
}

In [29]:
head(Total_length_cm6)

  CaseAcc  Animal               DateCollected Age   Sex    waypoint
1 25174-21 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
2 25174-27 Snapper: Bluestriped 3/16/15       Adult Female Barbers Point FR1B
3 25174-28 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
4 25174-30 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
5 25174-26 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
6 25174-25 Snapper: Bluestriped 3/16/15       Adult Male   Barbers Point FR1B
  MeasureValue Waypoint_dbl Sex_dbl Age_dbl DateR
1 23.9         2            3       2       0015-03-16
2 22.8         2            2       2       0015-03-16
3 26.0         2            3       2       0015-03-16
4 23.2         2            3       2       0015-03-16
5 21.7         2            3       2       0015-03-16
6 23.4         2            3       2       0015-03-16

In [24]:
linear_model_summary(MeasureValue, Sex_dbl, Total_length_cm6)

ERROR: Error in eval(predvars, data, env):  オブジェクト 'MeasureValue' がありません

In [25]:
linear_model_summary2(MeasureValue, Sex_dbl, Total_length_cm6)

ERROR: Error in eval(predvars, data, env):  オブジェクト 'MeasureValue' がありません

Regardless if the col_name is in {{}} or not, still says it does not have the column. Does not work to put the df_name before with %>%

I want to do something in the same way with an mlm and into a stepAIC, but the same issue as above occurs.