In [ ]:
new_col= function (a, b){
    a %>%
    group_by(CaseAcc) %>%
    subset(Measurement == b)
}

Input tibble name as a, input measurement name as b. Column for sample ID MUST be labeled CaseAcc, and column name for measurement name MUST be labeled Measurement

In [ ]:
new_col5= function (a, b, c, d){
    a %>%
    group_by(b) %>%
    subset(c == d)
}

Ideally, we want it to look like this so b and c can be inputed as column name, but getting error "column 'c' is not found"

In [ ]:
remove_extra = function (a, b){
    a %>%
    dplyr::select(-b)
}

b should be in the form of `c("","")`

In [ ]:
HSI = function (a){
    a %>%
    mutate(
        HSI = ((Weight_liver_g/Weight_carcass_g)*100))
}

Input tibble name as a. Column for sample weight liver be labeled Weight_liver_g, and column name for sample carcass weight MUST be Weight_carcass_g

In [ ]:
HSI5 = function (a, b, c){
    a %>%
    mutate(
        HSI = ((b/c)*100))
}

ideally want it to look like this where b is liver weight and c is carcass weight but same error as in new.col5

In [ ]:
cond_fact_k = function (a){
    a %>%
    mutate(
        Fulton_condition_factor = ((Weight_carcass_g*100)/(Total_length_cm^3)))
}

same issue as previous with column name error

In [1]:
dateR = function (a,b){
    a %>%
    mutate(
        DateR = as.POSIXct(DateCollected, format= b))
}

b should be in "%m/%d/%Y" format; date collected column MUST be named DateCollected

In [ ]:
sex_dbl = function (a){
    a %>%
    mutate(
    Sex_dbl = as.double(Sex))
}

In [ ]:
age_dbl = function (a){
    a %>%
    mutate(
    Age_dbl = as.double(Age))
}

In [ ]:
waypoint_dbl = function (a){
    a %>%
    mutate(
    Waypoint_dbl = as.double(waypoint))
}